h3 {
  margin: 0px; /* To avoid UA default stylesheet margins */
}

body {
  background-color: lightseagreen;
  font-family: Arial, sans-serif;
}

section {
  border: 4px solid darkturquoise;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.briefing {
  font-style: italic;
}